.stage-item {
    width: 12rem;
    margin: 5px;
    border: 2px groove #efcf00;
    height: fit-content;
    user-select: none;
    cursor: pointer;
}

.item-text {
    width: 100%;
    display: inline-block;
    text-align: center;
    background-color: var(--ifm-color-emphasis-200);
    color: #efcf00;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-weight: bold;
}

.item-text.item-text--selected {
    background-color: var(--ifm-color-secondary-lighter);
}
