.bracket-item {
    display: flex;
    flex-direction: column;
    margin: 5px;
    height: fit-content;
    user-select: none;
    cursor: pointer;
}

.bracket-img {
    height: 6rem;
    background-color: var(--ifm-color-emphasis-200);
    padding: 6px;
    border-top: 2px groove #efcf00;
    border-right: 2px groove #efcf00;
    border-left: 2px groove #efcf00;
}

.bracket-img.bracket-img--selected {
    background-color: var(--ifm-color-secondary-lighter);
}

.item-text {
    width: 100%;
    display: inline-block;
    text-align: center;
    border: 2px outset #efcf00;
    background-color: var(--ifm-color-primary);
    color: #efcf00;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-weight: bold;
    white-space: break-spaces;
}
